<div class="row">
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>ข้อมูลเพิ่มเติม</h3>
      </div>
      <div class="ibox-content">

        <div class="form-group">
          <div class="label-control">
            <strong>เลขที่รับ</strong>
          </div>
          <div class="label-control">
            <%= @document.number %>
          </div>
        </div>

        <div class="form-group">
          <div class="label-control">
            <strong>ลงวันที่</strong>
          </div>
          <div class="label-control">
            <%= @document.dated %>
          </div>
        </div>

        <div class="form-group">
          <div class="label-control">
            <strong>หัวข้อ</strong>
          </div>
          <div class="label-control">
            <%= @document.title %>
          </div>
        </div>

        <div class="form-group">
          <div class="label-control">
            <strong>รายละเอียด</strong>
          </div>
          <div class="label-control">
            <%= @document.detail %>
          </div>
        </div>

        <div class="form-group">
          <div class="label-control">
            <strong>แฟ้ม</strong>
          </div>
          <div class="label-control">
            หมายเลข <%= @document.folder_check %>
          </div>
        </div>

        <div class="form-group">
          <div class="label-control">
            <strong>ประเภทของเอกสาร</strong>
          </div>
          <div class="label-control">
            <% @document_type.each do |n| %>
                <%= n.name %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="label-control">
            <strong>ชั้นความลับ</strong>
          </div>
          <div class="label-control">
            <%= @document.confidential_check %>
          </div>
        </div>

        <div class="form-group">
          <div class="label-control">
            <strong>ผู้เพิ่มเอกสาร</strong>
          </div>
          <div class="label-control">
            <%= @document.user.first_name %>  <%= @document.user.last_name %>
          </div>
        </div>

        <div class="form-group">
          <div class="label-control">
            <strong>สถานะ</strong>
          </div>
          <div class="label-control">
            <%= @document.status.name %>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>เอกสารที่เกี่ยวข้อง</h3>
      </div>
      <div class="ibox-content">

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>ไฟล์แนบ</h3>
      </div>
      <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
          <thead>
            <tr>
              <th width="500px">รูปย่อย</th>
              <th>ลิ้งโหลดรูป</th>
              <th width="400px">วันที่อัพโหลด</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @document.images.each do |n| %>
              <tr>
                <td align="center">
                  <%= image_tag(n.variant(resize:"500x150")) %>
                </td>
                <td><%= link_to "ดาวน์โหลด" , rails_blob_path(n , disposition: "attachment") %></td>
                <td><%= n.created_at %></td>
                <td></td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
